################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/App/Certificates
/UnitTests/obj
/UnitTests/bin
/UnitTests/TestResults
/IntegrationTests/bin
/IntegrationTests/obj
/IntegrationTests/TestResults
/.editorconfig
/TestFakes/bin
/TestFakes/obj
