################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/App/Certificates
/UnitTests/bin/Debug/net8.0
/UnitTests/obj
/UnitTests/bin/Release/net8.0
/IntegrationTests/bin/Debug/net8.0
/IntegrationTests/obj
/IntegrationTests/TestResults
/UnitTests/TestResults
appsettings.json
appsettings.*.json
/.editorconfig
/database.ps1
